<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Footprint</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top container-fluid">
        <div class="" style="padding: 0px; padding-left:1%; padding-right: 1%;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
              <span class="icon-bar" style="background-color: black;"></span>
              <span class="icon-bar" style="background-color: black;"></span>
              <span class="icon-bar" style="background-color: black;"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage">Carbon Footprint Tracker</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="home.html">HOME</a></li>
                <li><a href="reduce_footprint.html">REDUCE YOUR FOOTPRINT</a></li>
                <li><a href="food.html">FOOD</a></li>            
            </ul>
          </div>
        </div>
      </nav> <br><br>

      <div class="container-fluid">
        <div class="page-header">
          <h1 style="text-align: center;">How To Reduce Your Carbon Footprint</h1>
        </div>
      </div>

      <div id="lights" class="container-fluid text-center">
        <div class="row" style="text-align: center; padding: 3%;">
          <div class="col-sm-12 col-md-8 col-lg-8">
            <h1 style="color:lightcoral">Conserve Electricity</h1><br>
            <p>Turn off the lights when you are not using them. Use LED lights instead of fluorescent and incandescent lights.</p>
        </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="../static/images/lights.png" alt="" class="img-responsive img-circle">
          </div>
        </div>
      </div>

        <div id="food" class="container-fluid text-center" style="background-color: lightgray;">
            <div class="row" style="text-align: center; padding: 3%;">
                <div class="col-sm-12 col-md-4 col-lg-4" style="padding-top: 1%">
                    <img src="../static/images/food.png" alt="" class="img-responsive img-circle">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8" style="padding-top: 8%">
                    <h1 style="color:lightcoral">Avoid Excessive Food Consumption</h1><br>
                    <p>Excessive food consumption can lead to food waste. Eat what you need and also avoid eating processed foods. Try to eat plant based and organic foods more often.</p>
                </div>               
            </div>
        </div>

        <div id="transportation" class="container-fluid text-center">
            <div class="row" style="text-align: center; padding: 3%;">
                <div class="col-sm-12 col-md-8 col-lg-8" style="padding-top: 5%">
                    <h1 style="color:lightcoral">Travel Efficiently</h1><br>
                    <p>Consider using a hybrid or electric car rather than gasoline cars. Use public transportation to get to work. Walk or bike to school or work if possible. </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" style="padding-top: 1%">
                    <img src="../static/images/car.png" alt="" class="img-responsive img-circle">
                </div>                               
            </div>
        </div>

        <div id="plastic" class="container-fluid text-center" style="background-color: lightgray;">
            <div class="row" style="text-align: center; padding: 3%;">
                <div class="col-sm-12 col-md-4 col-lg-4" style="padding-top: 1%">
                    <img src="../static/images/plastics.png" alt="" class="img-responsive img-circle">
                </div>  
                <div class="col-sm-12 col-md-8 col-lg-8" style="padding-top: 5%">
                    <h1 style="color:lightcoral">Avoid Plastics</h1><br>
                    <p>Avoid buying plastic bottled waters and using plastic covers and wrappers. Using a reusable bag, spoons, and water bottles will you money and help the environment.</p>
                </div>                                             
            </div>
        </div>
        
</body>
</html>